@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrapCss")
    <title>@ViewBag.Title</title>
</head>
<body>

    <div class="topnav" id="myTopnav">
        @Html.ActionLink("Home", "Index", "AProducts", null, new { @class = "active" })
        @Html.ActionLink("Profile", "Index", "Profile")
        @Html.ActionLink("Back to site", "Index", "PresentationPage", new { Area = "MVC"}, new { @class = "admin" })


        @*@Html.ActionLink("Back to site", "Index","" ,null, new { @class = "admin" })*@
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
        @using (Ajax.BeginForm("Search", "PresentationPage", new AjaxOptions
        {
            HttpMethod = "get",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "products-table"
        }
       ))
        {
            <input type="search" name="SearchString" />
            <input type="submit" value="Search Products" />
        }

    </div>

    <div class="content">
        @RenderBody()
    </div>



    <div class="footer">
        <p>Episerver MVC</p>
    </div>

    @Scripts.Render("~/bundles/jquery")


</body >
</html >
