@model IEnumerable < Episerver_React.Models.Product >
@{
    var message = TempData["EMPTY"];
    Layout = "~/Views/Shared/Layouts/_MyLayout.cshtml";
    ViewBag.Title = "Home";
}

<title>Episerver MVC</title>
<div>
    <h3>Welcome to our site</h3>
    <p>
        Profundum credendum summopere sap lus inspiciam confirmet.
        An imbecillia labefactat co incidissem im. Exhibetur inscitiae concilium
        ii at mo. Cupientem praeditis ii quocunque archimede procedere at ac.
        Mem firmae exigui nondum rea contra tam hoc nomine. Ii ut vultum ausint
        vereor ac. Ulla male suam sine ante uti meam
        nec sum. Foco ab ob im sane fore de nova tale.
    </p>


    @*@<div>
        @using (Html.BeginForm("Search", "PresentationPage", FormMethod.Get))
        {
            <p>
                @Html.TextBox("SearchString") <br />
                <input type="submit" value="Search Products" />
            </p>
        }
    </div>*@

    <div id="products-table">
        <h4 style="color:darkred">@message</h4>
        <table id="table">

            @if (Model != null)
            {


                foreach (var item in Model)
                {
                    <tr class="product-search">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="description">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="price">
                            @Html.DisplayFor(modelItem => item.Price) EUR
                        </td>

                    </tr>
                    <tr class="space"></tr>
                }
            }

        </table>
    </div>
    
</div>



