@model LinkItem

@if (Model.Link != null && !Model.Link.IsEmpty())
{
    var cssClass = ViewData["CssClass"] as string ?? string.Empty;
    <li>
        <label>
            <input type="checkbox" value="@(string.IsNullOrWhiteSpace(Model.Title) ? Model.Text : Model.Title)">
            <a class="@Model.LinkStyle @cssClass" href="@Url.ContentUrl(Model.Link)" target="@Model.Target" title="@(string.IsNullOrWhiteSpace(Model.Title) ? Model.Text : Model.Title)">
                @Model.Text
            </a>
        </label>
    </li>
}
