@model Episerver_React.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Layouts/_MyLayout.cshtml";
}


@Html.ActionLink("Back to previous page", null, null, null, new { href = Request.UrlReferrer })
<div class="container">
    <div class="product-display">
        
        <figure class="w-50 mr-4">
            <img class="img-fluid figure-img float-left mt-5 mr-3" src="@Html.DisplayFor(p => p.Image)">
        </figure>
        <h1>@Html.DisplayFor(p => p.Name)</h1>
        @if (Model.SubCategory!=null)
        {
            Html.ActionLink(Model.SubCategory.ToString(), "SubCategory", new { category = Model.SubCategory.Category, subcategory = Model.SubCategory });
        }

        <section>

            <p>@Html.DisplayFor(p => p.Description)</p>
            <h3>@Html.DisplayFor(p => p.Price) EUR</h3>
            <button class="btn btn-default">Buy Now</button>

        </section>

    </div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@

</p>
    </div>
