@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/Layouts/_DefaultLayout.cshtml";
}
<head>
    @Styles.Render("~/Content/bootstrapCss")
    @Scripts.Render("~/bundles/jquery")
</head>
<div class="container mt-3">
    <p>This is the HomePage</p>
    @Html.ActionLink("Click here to access the site", "Index", "PresentationPage", new { Area = "" }, new { @class = "admin" })
    <br />
    <br />
    @Html.ActionLink("Click here to access the MVC Area", "Index", "PresentationPage", new { Area = "MVC" }, new { @class = "admin" })

    @{
        Html.RenderPartial("~/Views/Shared/Partial/_CookieBanner.cshtml");
    }

</div>
@Scripts.Render("~/bundles/myscripts") 