@model RecipeSearchResultViewModel<ResultsPage>

@Styles.Render("~/static/css/all-recipes.css")
@Html.PropertyFor(x => x.SiteSettings.MenuItem)
<div id="fullContainer">
    <div class="top-header-container">
        @Html.PropertyFor(x => x.CurrentPage.Heanding, "Paragraph", new { CssClass = "top-copy" })
        @Html.PropertyFor(x => x.CurrentPage.Description, "Paragraph", new { CssClass = "bottom-copy" })
    </div>
    @{ if (Model.ResultPage.PaginationViewModel.TotalItems > 0)
        {
            int index = 1;
            <div id="allRecipeItems" class="recipe-item-all">
                @Html.Partial("~/Views/Pages/ResultsPage/_recipeSearchResults.cshtml", Model)                
                <div class="view-more-recipe" data-search="viewMore" style="">
                    <div class="vert-align">
                        <a href="@Url.ContentUrl(Model.CurrentPage.ContentLink)AjaxSearch" title="Ver Más Recetas">Ver Más Recetas</a>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="did-you-mean-box " data-search="noResults">
                @{ if (!string.IsNullOrEmpty(Model.ResultPage.SuggestedTerm))
                    {
                        <p class="bottom-copy no-filter">
                            Did you mean
                            <a href="@string.Format("{0}?q={1}", Url.ContentUrl(Model.CurrentPage.ContentLink), Model.ResultPage.SuggestedTerm)" title="Did you mean">
                                @Model.ResultPage.SuggestedTerm
                            </a>?
                        </p>
                    }
                    else
                    {
                        @Html.PropertyFor(x => x.CurrentPage.NotFoundMessage, "Paragraph", new { CssClass = "bottom-copy no-filter" })
                    }
                }
                <div class="close-box">Cerrar</div>
            </div>
        }
    }
</div>
<div class="go-back">
    <div class="vert-align">Regresar</div>
</div>
@Scripts.Render("~/static/js/common.js")
@Scripts.Render("~/static/js/all-recipes.js")